In [21]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import config
%matplotlib inline

api_key = config.api_key

fullurl = 'https://api.census.gov/data/2018/abstcb?get=GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,NSFSZFI,NSFSZFI_LABEL,FACTORS_P,FACTORS_P_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_F,FIRMPDEMP_PCT,FIRMPDEMP_PCT_F,RCPPDEMP,RCPPDEMP_F,RCPPDEMP_PCT,RCPPDEMP_PCT_F,EMP,EMP_F,EMP_PCT,EMP_PCT_F,PAYANN,PAYANN_F,PAYANN_PCT,PAYANN_PCT_F,FIRMPDEMP_S,FIRMPDEMP_S_F,FIRMPDEMP_PCT_S,FIRMPDEMP_PCT_S_F,RCPPDEMP_S,RCPPDEMP_S_F,RCPPDEMP_PCT_S,RCPPDEMP_PCT_S_F,EMP_S,EMP_S_F,EMP_PCT_S,EMP_PCT_S_F,PAYANN_S,PAYANN_S_F,PAYANN_PCT_S,PAYANN_PCT_S_F&for=us:*&key='
#data = requests.get(fullurl+api_key)
#print(data)
#print(type(data))

tech_df = pd.DataFrame(data.json())

In [22]:
# promote headers
header_row = 0
tech_df.columns = tech_df.iloc[header_row]
tech_df.drop(labels=0,axis=0,inplace=True)

1       1
2       1
3       1
4       1
5       1
       ..
5496    1
5497    1
5498    1
5499    1
5500    1
Name: us, Length: 5500, dtype: object
['1']

In [23]:
# do some cleaning
tech_df.drop(['GEO_ID',"NAME","YEAR","NAICS2017","SEX","ETH_GROUP"],inplace=True,axis=1)
tech_df.drop(["RACE_GROUP","VET_GROUP","NSFSZFI","FIRMPDEMP_F","FIRMPDEMP_PCT_F"],inplace=True,axis=1)
tech_df.drop(["RCPPDEMP_F","RCPPDEMP_PCT_F","EMP_F","EMP_PCT_F","PAYANN_F"],inplace=True,axis=1)
tech_df.drop(["PAYANN_PCT_F","FIRMPDEMP_S","FIRMPDEMP_S_F","FIRMPDEMP_PCT_S"],inplace=True,axis=1)
tech_df = tech_df.drop(tech_df.columns[16:],axis = 1)
print(tech_df)

0               NAICS2017_LABEL SEX_LABEL ETH_GROUP_LABEL RACE_GROUP_LABEL  \
1         Total for all sectors     Total           Total            Total
2         Total for all sectors     Total           Total            Total
3         Total for all sectors     Total           Total            Total
4         Total for all sectors     Total           Total            Total
5         Total for all sectors     Total           Total            Total
...                         ...       ...             ...              ...
5496  Industries not classified     Total           Total            Total
5497  Industries not classified     Total           Total            Total
5498  Industries not classified     Total           Total            Total
5499  Industries not classified     Total           Total            Total
5500  Industries not classified     Total           Total            Total

0    VET_GROUP_LABEL NSFSZFI_LABEL FACTORS_P  \
1              Total     All firms  T2E36R08
2              Total     All firms  T2E36R09
3              Total     All firms  T2E36R10
4              Total     All firms  T2E36R99
5              Total     All firms  T3E36R01
...              ...           ...       ...
5496           Total     All firms  T5E36R07
5497           Total     All firms  T5E36R08
5498           Total     All firms  T5E36R09
5499           Total     All firms  T5E36R10
5500           Total     All firms  T5E36R99

0                                       FACTORS_P_LABEL FIRMPDEMP  \
1                 Cloud-Based: Lacked access to capital     44724
2     Cloud-Based: Technology not applicable to this...   1828050
3     Cloud-Based: No factors adversely affected the...   2484539
4                          Cloud-Based: Total Reporting   4739493
5     Specialized Software: Technology was too expen...    282423
...                                                 ...       ...
5496  Specialized Equipment: Concerns regarding safe...         0
5497    Specialized Equipment: Lacked access to capital       252
5498  Specialized Equipment: Technology not applicab...      5357
5499  Specialized Equipment: No factors adversely af...      7086
5500             Specialized Equipment: Total Reporting     14702

0    FIRMPDEMP_PCT     RCPPDEMP RCPPDEMP_PCT       EMP EMP_PCT      PAYANN  \
1              0.9    730209484          2.4   1469117     1.6   108923934
2             38.6   7901779199         26.5  28474985    30.3  1305851823
3             52.4  17955676080         60.2  54492977    58.0  3090558571
4            100.0  29847139873        100.0  93942693   100.0  5037549941
5              6.0   2147246512          7.2   6152082     6.6   340768731
...            ...          ...          ...       ...     ...         ...
5496           0.0            0          0.0         0     0.0           0
5497           1.7            0          0.0       400     0.5        8859
5498          36.4            0          0.0     14027    19.0      191344
5499          48.2            0          0.0     34875    47.1      290780
5500         100.0            0          0.0     74003   100.0      571786

0    PAYANN_PCT
1           2.2
2          25.9
3          61.4
4         100.0
5           6.8
...         ...
5496        0.0
5497        1.5
5498       33.5
5499       50.9
5500      100.0

[5500 rows x 16 columns]

In [24]:
tech_df.shape

(5500, 16)

In [10]:
tech_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5500 entries, 1 to 5500
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NAICS2017_LABEL   5500 non-null   object
 1   SEX_LABEL         5500 non-null   object
 2   ETH_GROUP_LABEL   5500 non-null   object
 3   RACE_GROUP_LABEL  5500 non-null   object
 4   VET_GROUP_LABEL   5500 non-null   object
 5   NSFSZFI_LABEL     5500 non-null   object
 6   FACTORS_P         5500 non-null   object
 7   FACTORS_P_LABEL   5500 non-null   object
 8   FIRMPDEMP         5500 non-null   object
 9   FIRMPDEMP_PCT     5500 non-null   object
 10  RCPPDEMP          5500 non-null   object
 11  RCPPDEMP_PCT      5500 non-null   object
 12  EMP               5500 non-null   object
 13  EMP_PCT           5500 non-null   object
 14  PAYANN            5500 non-null   object
 15  PAYANN_PCT        5500 non-null   object
dtypes: object(16)
memory usage: 386.7+ KB